<%- include ("partials/header") %>
<h1>This is  the Home Page</h1>
<img src="https://images.unsplash.com/photo-1582850344778-ea000b0d19ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2723&q=80">

<%- include ("partials/footer") %>